<body>

  <!-- ======= Header ======= -->
  

  

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Form Layouts</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Forms</li>
          <li class="breadcrumb-item active">Layouts</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">
       

        <div class="col-lg-8">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Edit Product Form</h5>

              <!-- Floating Labels Form -->
              <form class="row g-3" action="/admin/edit-product/{{product._id}}" method="post" enctype="multipart/form-data">

                <div class="col-md-12">
                  <div class="form-floating">
                    <input type="text" class="form-control" name="name" id="floatingName" placeholder="Name" value="{{product.name}}">
                    <label for="floatingName">Name</label>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-floating">
                    <input type="text" class="form-control" name="size" id="floatingEmail" placeholder="Model" value="{{product.size}}">
                    <label for="floatingEmail">Size</label>
                  </div>
                </div>

                 {{!-- <div class="col-md-12">
                  <div class="form-floating">
                    <input type="text" class="form-control" name="size" id="floatingEmail" placeholder="Model" value="{{product.cataegoryid}}">
                    <label class="col-sm-2 col-form-label">category</label>
                  </div>
                </div> --}}


              
               
                <div class="col-sm-10">
                   
                     <select class="form-select" name="categoryid" aria-label="Default select example">
                        {{#if product.categoryid}}
                        <option value="{{product.categoryid}}">{{product.categoryid}}</option>
                        {{else}}
                        <option value="{{product.categoryid}}">Select category</option>
                        {{/if}}
                        {{#each getcategory}}
                        <option  value="{{this.name}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>  
         


                {{!-- <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Category</label>
                  <div class="col-sm-10">
                
                    <select class="form-select" name="categoryid" aria-label="Default select example">
                      <option selected>Select category</option>
                       {{#each category}}
                      <option value="{{product.cataegoryid}}">{{product.cataegory}}</option>
                      {{/each}}
                
                
                
                    </select>
                  </div>
                </div> --}}

                 

                <div class="col-md-6">
                  <div class="form-floating">
                    <input type="number" class="form-control" name="price" id="floatingPassword" placeholder="Price" value="{{product.price}}">
                    <label for="floatingPassword">Price</label>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-floating">
                    <input type="text" class="form-control" name="color" id="floatingName" placeholder="Name" value="{{product.color}}">
                    <label for="floatingName">colour</label>
                  </div>
                </div>

                <div class="col-12">
                  <div class="form-floating">
                    <textarea class="form-control" name="description" placeholder="description" name="description" id="floatingTextarea" style="height: 100px;"></textarea>
                    <label for="floatingTextarea">Description</label>
                    <br>
                  </div>
                </div>
                

                 {{!-- <div class="col-md-6">
                  <div class="form-floating">
                    <input type="file" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword"></label>
                  </div>
                </div> --}}
              
                {{!-- <div class="row mb-3">
                  <label for="inputNumber" class="col-sm-2 col-form-label">File Upload</label>
                  <img src="../product-pictures/{{product.img1}}" alt="" style="width: 80px; height:auto" id="imgView">
                  <div class="col-sm-10">
                    <input class="form-control" type="file" id="formFile" name="productImage1" onchange="viewImage(event)">
                  </div>
                </div> --}}
                {{!-- <div class="row mb-3">
                  
                  <label for="inputNumber" class="col-sm-2 col-form-label">Image 1: </label>
                  <img src="../product-pictures/{{product.img1}}" alt="" style="width: 70px; height:auto" id="imgView" >
                  <div class="col-sm-12" >
                    <input class="form-control" type="file" id="formFile" name="productImage1" onchange="viewImage(event)">
                  </div>
                 
                </div>

                <div class="row mb-3">
                  <label for="inputNumber" class="col-sm-2 col-form-label">Image 2 :</label>
                  <img src="../product-pictures/{{product.img2}}" alt="" style="width: 70px; height:auto" id="imgView">
                  <div class="col-sm-12">
                    <input class="form-control" type="file" id="formFile" name="productImage2" onchange="viewImage(event)">
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="inputNumber" class="col-sm-2 col-form-label">Image 3 :</label>
                  <img src="../product-pictures/{{product.img3}}" alt="" style="width: 70px; height:auto" id="imgView">
                  <div class="col-sm-12">
                    <input class="form-control" type="file" id="formFile" name="productImage3" onchange="viewImage(event)">
                  </div>
                </div> --}}

                <div class="row mb-3">
                  <label for="formFile" class="col-sm-2 col-form-label">Image Upload</label>
                  <img src="../product-pictures/{{product.image.[0]}}" alt="" style="width: 70px; height:50px" id="imgView">
                  <div class="col-sm-10">
                    <input class="form-control " name="image" multiple type="file" id="formFile">
                  </div>
                  
                </div>


                
               
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
              </form><!-- End floating Labels Form -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

<input type="text" value="{{product.description}}" id="description" hidden>

<script>
  document.getElementById("floatingTextarea").defaultValue = document.getElementById("description").value;
  function viewImage(event) {
    console.log("kkkkkkkkkkkkkkkkkkkk")
    document.getElementById(imgView).src = URL.createObjectURL(event.target.files[0])
  }
</script>

</body>



<script defer src="https://cdn.crop.guide/loader/l.js?c=PNNJBK"></script>